.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	height: 70%;
}

.gomb {
	display: grid;
	background-color: rgb(124, 49, 49);
	color: white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color: beige;
	color: black;
}

body{
    background-color: beige;
}

.cim{
    display: grid;
	background-image: url("hatterkep_jo.jpg");
	height: 12.5rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-items: center;
	font-size: xx-large;
	padding-left: 10%;
	color: white;
	text-shadow: 0.25rem 0.25rem black;
}