@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=LXGW+WenKai+Mono+TC&display=swap');
.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	height: 70%;
}

.gomb {
	display: grid;
	background-color: rgb(124, 49, 49);
	color: white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color: beige;
	color: black;
}

.cim{
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-style: italic;
}

body{
    background-color: beige;
}

.utinaplo{
	width: 90%;
	height: 40rem;
	border-radius: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
